body {
  background-image: url("/assets/images/burger.JPG");
  background-repeat: repeat-x;
  background-position: center top;
  height: 100%;
}
h1 {
  color: #f0c13f;
  font-family: "Spicy Rice", cursive;
  text-align: center;
  font-size: 60px;
  letter-spacing: 4px;
  margin: 10px auto;
  text-shadow: 3px 3px #a72e2e;
}
h2 {
  color: #f1e7bf;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 10px auto;
}
.burger-name {
  color: #f1e7bf;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  background-color: #c1c125;
  color: #ac6300;
  font-family: "Spicy Rice", cursive;
  font-size: 20px;
  border-color: #ac6300;
  width: 25%;
  margin: 10px auto;
}
h4 {
  color: #f0c13f;
  font-family: "Spicy Rice", cursive;
  font-weight: 900;
  margin: 10px;
  font-size: 28px;
  letter-spacing: 4px;
  /* text-decoration: #f0c13f underline; */
  text-shadow: 3px 3px #a72e2e;
}
.btn-success {
  background-color: #a72e2e;
  border-color: #c1c125;
  color: #c1c125;
  width: 15%;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
}
.form-control {
  font-family: "Poppins", sans-serif;
  background-color: #f1e7bf;
  border-color: #c1c125;
  color: #ac6300;
  width: 30%;
  margin: 10px;
}
.col-md-6 {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* font-family: 'Spicy Rice', cursive; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
